.BooksList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.cardBook {
    margin-top: 40px;
    width: 350px;
    margin: 15px 10px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
}

.cardBook:hover {
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.5);
}

.imgBook {
    object-fit: contain;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}



